*.vsidx
.vs/CMake-GDGRAP1/v17/Browse.VC.db
*.db
*.db-wal
*.sqlite
*.db
/.vs
/.vs
/thirdparty
/out
/out/build
/.vs/CMake-GDGRAP1/copilot-chat/98b9e640/sessions
/.vs/CMake-GDGRAP1
.vs/CMake-GDGRAP1/copilot-chat/98b9e640/sessions/c147bbba-1684-4999-b1d7-5947a7fd97d5
.vs/CMake-GDGRAP1/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
/.vs/CMake-GDGRAP1/CopilotIndices
.vs/CMake-GDGRAP1/copilot-chat/98b9e640/sessions/c147bbba-1684-4999-b1d7-5947a7fd97d5
.vs/CMake-GDGRAP1/copilot-chat/98b9e640/sessions/c147bbba-1684-4999-b1d7-5947a7fd97d5
.vs/CMake-GDGRAP1/CopilotIndices/17.14.1561.44479/CodeChunks.db-shm
.vs/CMake-GDGRAP1/CopilotIndices/17.14.1561.44479/CodeChunks.db-wal
.vs/CMake-GDGRAP1/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-shm
.vs/CMake-GDGRAP1/CopilotIndices/17.14.1561.44479/SemanticSymbols.db-wal
.vs/CMake-GDGRAP1/v17/Browse.VC.db
.vs/CMake-GDGRAP1/v17/Browse.VC.db-shm
.vs/CMake-GDGRAP1/v17/Browse.VC.db-wal
.vs/VSWorkspaceState.json
out/build/x64-debug/cmake_install.cmake
out/build/x64-debug/CMakeCache.txt
out/build/x64-debug/CMakeFiles/TargetDirectories.txt
/.vs/CMake-GDGRAP1/v17/ipch
.vs/CMake-GDGRAP1/v17/ipch/AutoPCH/402e943b1f0666f5/CMAKEPROJECTGRAP1.ipch
